In [ ]:
# Loading the saved CSV files from data.ipynb into pandas dataframes
import pandas as pd
raw_data_path = 'data/raw_data.csv'
incremental_data_path = 'data/incremental_data.csv'
df_raw = pd.read_csv(raw_data_path, encoding='ISO-8859-1')
df_incremental = pd.read_csv(incremental_data_path, encoding='ISO-8859-1')
df_raw.head(), df_incremental.head()

# Display head, info and describe of the raw_data and incremental_data dataframes
df_raw.info(), df_raw.describe(), df_incremental.info(), df_incremental.describe()

# Identifying and discussine various quality data issues in raw_data and incremental_data dataframes
# 1. Missing Values
missing_values_raw = df_raw.isnull().sum()
missing_values_incremental = df_incremental.isnull().sum()
print("Missing Values in Raw Data:\n", missing_values_raw)
print("Missing Values in Incremental Data:\n", missing_values_incremental)

# 2. Duplicates
duplicates_raw = df_raw.duplicated().sum()
duplicates_incremental = df_incremental.duplicated().sum()
print("Duplicates in Raw Data:", duplicates_raw)
print("Duplicates in Incremental Data:", duplicates_incremental)

# 3. Inconsistent Data Types
data_types_raw = df_raw.dtypes
data_types_incremental = df_incremental.dtypes
print("Data Types in Raw Data:\n", data_types_raw)
print("Data Types in Incremental Data:\n", data_types_incremental)

# 4. Outliers
import numpy as np
numeric_cols_raw = df_raw.select_dtypes(include=[np.number]).columns
outliers_raw = {col: df_raw[(df_raw[col] < df_raw[col].quantile(0.01)) | (df_raw[col] > df_raw[col].quantile(0.99))] for col in numeric_cols_raw}
numeric_cols_incremental = df_incremental.select_dtypes(include=[np.number]).columns
outliers_incremental = {col: df_incremental[(df_incremental[col] < df_incremental[col].quantile(0.01)) | (df_incremental[col] > df_incremental[col].quantile(0.99))] for col in numeric_cols_incremental}
print("Outliers in Raw Data:\n", outliers_raw)
print("Outliers in Incremental Data:\n", outliers_incremental)

# Summarizing the findings
print("Summary of Data Quality Issues:")
print("Raw Data - Missing Values:\n", missing_values_raw[missing_values_raw > 0])
print("Raw Data - Duplicates:", duplicates_raw)
print("Incremental Data - Missing Values:\n", missing_values_incremental[missing_values_incremental > 0])
print("Incremental Data - Duplicates:", duplicates_incremental)

# Cleaning the raw_data and incremental_data dataframes based on the identified quality issues
# 1. Handling Missing Values - Filling with mean for numeric columns and mode for categorical columns
for col in df_raw.columns:
    if df_raw[col].dtype in [np.float64, np.int64]:
        df_raw[col].fillna(df_raw[col].mean(), inplace=True)
    else:
        df_raw[col].fillna(df_raw[col].mode()[0], inplace=True)
for col in df_incremental.columns:
    if df_incremental[col].dtype in [np.float64, np.int64]:
        df_incremental[col].fillna(df_incremental[col].mean(), inplace=True)
    else:
        df_incremental[col].fillna(df_incremental[col].mode()[0], inplace=True)
# 2. Removing Duplicates
df_raw.drop_duplicates(inplace=True)
df_incremental.drop_duplicates(inplace=True)
# 3. Ensuring Consistent Data Types
for col in df_raw.columns:
    if col in df_incremental.columns:
        df_incremental[col] = df_incremental[col].astype(df_raw[col].dtype)
# 4. Handling Outliers - Capping at 1st and 99th percentiles
for col in numeric_cols_raw:
    lower_bound = df_raw[col].quantile(0.01)
    upper_bound = df_raw[col].quantile(0.99)
    df_raw[col] = np.where(df_raw[col] < lower_bound, lower_bound, df_raw[col])
    df_raw[col] = np.where(df_raw[col] > upper_bound, upper_bound, df_raw[col])
for col in numeric_cols_incremental:
    lower_bound = df_incremental[col].quantile(0.01)
    upper_bound = df_incremental[col].quantile(0.99)
    df_incremental[col] = np.where(df_incremental[col] < lower_bound, lower_bound, df_incremental[col])
    df_incremental[col] = np.where(df_incremental[col] > upper_bound, upper_bound, df_incremental[col])
# Verifying the cleaning process
df_raw.info(), df_incremental.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89884 entries, 0 to 89883
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   InvoiceNo    89884 non-null  object
 1   StockCode    89884 non-null  object
 2   Description  89803 non-null  object
 3   Quantity     89884 non-null  int64
 4   InvoiceDate  89884 non-null  object
 5   UnitPrice    89884 non-null  float64
 6   CustomerID   66632 non-null  float64
 7   Country      89884 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 5.5+ MB
Missing Values in Raw Data:
 InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64
Missing Values in Incremental Data:
 InvoiceNo          0
StockCode          0
Description       81
Quantity           0
InvoiceDate        0
UnitPrice          0
CustomerID     23252
Country            0
dtype: int64
Duplicates in Raw Data: 5268
Duplicates in Incremental Data: 1317
Data Types in Raw Data:
 InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object
Data Types in Incremental Data:
 InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object
Outliers in Raw Data:
 {'Quantity':        InvoiceNo StockCode                        Description  Quantity  \
96        536378     21212    PACK OF 72 RETROSPOT CAKE CASES       120
178       536387     79321                      CHILLI LIGHTS       192
179       536387     22780     LIGHT GARLAND BUTTERFILES PINK       192
180       536387     22779         WOODEN OWLS LIGHT GARLAND        192
181       536387     22466      FAIRY TALE COTTAGE NIGHTLIGHT       432
...          ...       ...                                ...       ...
541545    581501     22319  HAIRCLIPS FORTIES FABRIC ASSORTED       180
541702    581566     23404         HOME SWEET HOME BLACKBOARD       144
541711    581567     21326   AGED GLASS SILVER T-LIGHT HOLDER       144
541715   C581568     21258         VICTORIAN SEWING BOX LARGE        -5
541717   C581569     20979      36 PENCILS TUBE RED RETROSPOT        -5

            InvoiceDate  UnitPrice  CustomerID         Country
96       12/1/2010 9:37       0.42     14688.0  United Kingdom
178      12/1/2010 9:58       3.82     16029.0  United Kingdom
179      12/1/2010 9:58       3.37     16029.0  United Kingdom
180      12/1/2010 9:58       3.37     16029.0  United Kingdom
181      12/1/2010 9:58       1.45     16029.0  United Kingdom
...                 ...        ...         ...             ...
541545  12/9/2011 10:46       0.19     12985.0  United Kingdom
541702  12/9/2011 11:50       3.26     18102.0  United Kingdom
541711  12/9/2011 11:56       0.55     16626.0  United Kingdom
541715  12/9/2011 11:57      10.95     15311.0  United Kingdom
541717  12/9/2011 11:58       1.25     17315.0  United Kingdom

[9995 rows x 8 columns], 'UnitPrice':        InvoiceNo StockCode                         Description  Quantity  \
141      C536379         D                            Discount        -1
168       536385     22783    SET 3 WICKER OVAL BASKETS W LIDS         1
219       536390     20668     DISCO BALL CHRISTMAS DECORATION       288
246       536392     22827  RUSTIC  SEVENTEEN DRAWER SIDEBOARD         1
294       536396     22803            IVORY EMBROIDERED QUILT          2
...          ...       ...                                 ...       ...
541459    581498     22838       3 TIER CAKE TIN RED AND CREAM         1
541527    581498    84968e     SET OF 16 VINTAGE BLACK CUTLERY         1
541540    581498       DOT                      DOTCOM POSTAGE         1
541541   C581499         M                              Manual        -1
541571    581502     20668     DISCO BALL CHRISTMAS DECORATION        24

            InvoiceDate  UnitPrice  CustomerID         Country
141      12/1/2010 9:41      27.50     14527.0  United Kingdom
168      12/1/2010 9:56      19.95     17420.0  United Kingdom
219     12/1/2010 10:19       0.10     17511.0  United Kingdom
246     12/1/2010 10:29     165.00     13705.0  United Kingdom
294     12/1/2010 10:51      35.75     17850.0  United Kingdom
...                 ...        ...         ...             ...
541459  12/9/2011 10:26      29.17         NaN  United Kingdom
541527  12/9/2011 10:26      24.96         NaN  United Kingdom
541540  12/9/2011 10:26    1714.17         NaN  United Kingdom
541541  12/9/2011 10:28     224.69     15498.0  United Kingdom
541571  12/9/2011 10:51       0.12     15910.0  United Kingdom

[8429 rows x 8 columns], 'CustomerID':        InvoiceNo StockCode                          Description  Quantity  \
2366      536586     22846           BREAD BIN DINER STYLE RED          8
2367      536586     22848           BREAD BIN DINER STYLE PINK         8
2368      536586     22726           ALARM CLOCK BAKELIKE GREEN         8
2369      536586     22728            ALARM CLOCK BAKELIKE PINK         8
2370      536586     22725       ALARM CLOCK BAKELIKE CHOCOLATE         4
...          ...       ...                                  ...       ...
536966    581232     22059        CERAMIC STRAWBERRY DESIGN MUG        24
536967    581232     22646   CERAMIC STRAWBERRY CAKE MONEY BANK        36
536968    581232      POST                              POSTAGE         4
537573   C581322     22909  SET OF 20 VINTAGE CHRISTMAS NAPKINS        -1
537574   C581322     22666      RECIPE BOX PANTRY YELLOW DESIGN        -1

            InvoiceDate  UnitPrice  CustomerID         Country
2366    12/1/2010 16:25      14.95     18229.0  United Kingdom
2367    12/1/2010 16:25      14.95     18229.0  United Kingdom
2368    12/1/2010 16:25       3.75     18229.0  United Kingdom
2369    12/1/2010 16:25       3.75     18229.0  United Kingdom
2370    12/1/2010 16:25       3.75     18229.0  United Kingdom
...                 ...        ...         ...             ...
536966  12/8/2011 10:26       0.39     12358.0         Austria
536967  12/8/2011 10:26       0.39     12358.0         Austria
536968  12/8/2011 10:26      40.00     12358.0         Austria
537573  12/8/2011 11:51       0.85     18223.0  United Kingdom
537574  12/8/2011 11:51       2.95     18223.0  United Kingdom

[7939 rows x 8 columns]}
Outliers in Incremental Data:
 {'Quantity':       InvoiceNo StockCode                          Description  Quantity  \
65       575321     22411    JUMBO SHOPPER VINTAGE RED PAISLEY       100
188     C575327     85048  15CM CHRISTMAS GLASS BALL 20 LIGHTS        -2
189      575328     23194           GYMKHANA TREASURE BOOK BOX       300
190      575328     23177             TREASURE ISLAND BOOK BOX       300
191      575328     23176               ABC TREASURE BOOK BOX        300
...         ...       ...                                  ...       ...
89520    581501     22319    HAIRCLIPS FORTIES FABRIC ASSORTED       180
89677    581566     23404           HOME SWEET HOME BLACKBOARD       144
89686    581567     21326     AGED GLASS SILVER T-LIGHT HOLDER       144
89690   C581568     21258           VICTORIAN SEWING BOX LARGE        -5
89692   C581569     20979        36 PENCILS TUBE RED RETROSPOT        -5

               InvoiceDate  UnitPrice  CustomerID         Country
65     2011-11-09 13:34:00       1.79     15311.0  United Kingdom
188    2011-11-09 13:47:00       7.95     14911.0            EIRE
189    2011-11-09 13:48:00       1.95     17857.0  United Kingdom
190    2011-11-09 13:48:00       1.95     17857.0  United Kingdom
191    2011-11-09 13:48:00       1.95     17857.0  United Kingdom
...                    ...        ...         ...             ...
89520  2011-12-09 10:46:00       0.19     12985.0  United Kingdom
89677  2011-12-09 11:50:00       3.26     18102.0  United Kingdom
89686  2011-12-09 11:56:00       0.55     16626.0  United Kingdom
89690  2011-12-09 11:57:00      10.95     15311.0  United Kingdom
89692  2011-12-09 11:58:00       1.25     17315.0  United Kingdom

[1552 rows x 8 columns], 'UnitPrice':       InvoiceNo StockCode                          Description  Quantity  \
19       575318     20668      DISCO BALL CHRISTMAS DECORATION        24
54       575321     16008  SMALL FOLDING SCISSOR(POINTED EDGE)        36
187      575326      POST                              POSTAGE         2
364      575336     16218           CARTOON  PENCIL SHARPENERS        15
457      575339     23462             ROCOCO WALL MIRROR WHITE         1
...         ...       ...                                  ...       ...
89516   C581499         M                               Manual        -1
89546    581502     20668      DISCO BALL CHRISTMAS DECORATION        24
89705    581570      POST                              POSTAGE         1
89742    581574      POST                              POSTAGE         2
89743    581578      POST                              POSTAGE         3

               InvoiceDate  UnitPrice  CustomerID         Country
19     2011-11-09 13:17:00       0.12     14921.0  United Kingdom
54     2011-11-09 13:34:00       0.12     15311.0  United Kingdom
187    2011-11-09 13:47:00      18.00     12532.0          France
364    2011-11-09 13:58:00       0.06     14968.0  United Kingdom
457    2011-11-09 14:29:00      19.95     15555.0  United Kingdom
...                    ...        ...         ...             ...
89516  2011-12-09 10:28:00     224.69     15498.0  United Kingdom
89546  2011-12-09 10:51:00       0.12     15910.0  United Kingdom
89705  2011-12-09 11:59:00      18.00     12662.0         Germany
89742  2011-12-09 12:09:00      18.00     12526.0         Germany
89743  2011-12-09 12:16:00      18.00     12713.0         Germany

[1234 rows x 8 columns], 'CustomerID':       InvoiceNo StockCode                          Description  Quantity  \
1532     575485    84509A      SET OF 4 ENGLISH ROSE PLACEMATS         4
1533     575485     22851   SET 20 NAPKINS FAIRY CAKES DESIGN         12
1534     575485     22989       SET 2 PANTRY DESIGN TEA TOWELS         6
1535     575485     23243  SET OF TEA COFFEE SUGAR TINS PANTRY         4
1536     575485     23245           SET OF 3 REGENCY CAKE TINS         4
...         ...       ...                                  ...       ...
89169    581493     23204          CHARLOTTE BAG APPLES DESIGN        10
89170    581493     21108   FAIRY CAKE FLANNEL ASSORTED COLOUR        18
89171    581493     22252  BIRDCAGE DECORATION TEALIGHT HOLDER        12
89172    581493     22807         SET OF 6 T-LIGHTS TOADSTOOLS         6
89173    581493      POST                              POSTAGE         1

               InvoiceDate  UnitPrice  CustomerID         Country
1532   2011-11-09 17:03:00       3.75     18274.0  United Kingdom
1533   2011-11-09 17:03:00       0.85     18274.0  United Kingdom
1534   2011-11-09 17:03:00       3.25     18274.0  United Kingdom
1535   2011-11-09 17:03:00       4.95     18274.0  United Kingdom
1536   2011-11-09 17:03:00       4.95     18274.0  United Kingdom
...                    ...        ...         ...             ...
89169  2011-12-09 10:10:00       0.85     12423.0         Belgium
89170  2011-12-09 10:10:00       0.79     12423.0         Belgium
89171  2011-12-09 10:10:00       1.25     12423.0         Belgium
89172  2011-12-09 10:10:00       2.95     12423.0         Belgium
89173  2011-12-09 10:10:00      15.00     12423.0         Belgium

[1213 rows x 8 columns]}
Summary of Data Quality Issues:
Raw Data - Missing Values:
 Description      1454
CustomerID     135080
dtype: int64
Raw Data - Duplicates: 5268
Incremental Data - Missing Values:
 Description       81
CustomerID     23252
dtype: int64
Incremental Data - Duplicates: 1317

C:\Users\user\AppData\Local\Temp\ipykernel_23652\1608951781.py:53: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_raw[col].fillna(df_raw[col].mode()[0], inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_23652\1608951781.py:51: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_raw[col].fillna(df_raw[col].mean(), inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_23652\1608951781.py:58: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_incremental[col].fillna(df_incremental[col].mode()[0], inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_23652\1608951781.py:56: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_incremental[col].fillna(df_incremental[col].mean(), inplace=True)

<class 'pandas.core.frame.DataFrame'>
Index: 536641 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    536641 non-null  object
 1   StockCode    536641 non-null  object
 2   Description  536641 non-null  object
 3   Quantity     536641 non-null  float64
 4   InvoiceDate  536641 non-null  object
 5   UnitPrice    536641 non-null  float64
 6   CustomerID   536641 non-null  float64
 7   Country      536641 non-null  object
dtypes: float64(3), object(5)
memory usage: 36.8+ MB
<class 'pandas.core.frame.DataFrame'>
Index: 88567 entries, 0 to 89883
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   InvoiceNo    88567 non-null  object
 1   StockCode    88567 non-null  object
 2   Description  88567 non-null  object
 3   Quantity     88567 non-null  float64
 4   InvoiceDate  88567 non-null  object
 5   UnitPrice    88567 non-null  float64
 6   CustomerID   88567 non-null  float64
 7   Country      88567 non-null  object
dtypes: float64(3), object(5)
memory usage: 6.1+ MB

(None, None)

In [13]:
# Merging the cleaned raw_data and cleaned_incremental_data dataframes into a single dataframe if relevant (e.g., append new records from incremental)
df_merged = pd.concat([df_raw, df_incremental], ignore_index=True)
df_merged.info()
# Saving the cleaned and merged dataframe to ET_Exam_Allan_095/data directory
merged_data_path = 'data/merged_cleaned_data.csv'
df_merged.to_csv(merged_data_path, index=False, encoding='ISO-8859-1')
print("Merged cleaned dataframe saved to:", merged_data_path)

# Creating cleaned folder for the cleaned dataframes and saving it as cleaned_full and cleaned_incremental in ET_Exam_Allan_095/data directory
import os  
cleaned_data_path = 'data/cleaned'
os.makedirs(cleaned_data_path, exist_ok=True)
cleaned_full_path = os.path.join(cleaned_data_path, 'cleaned_full.csv')
cleaned_incremental_path = os.path.join(cleaned_data_path, 'cleaned_incremental.csv')
df_raw.to_csv(cleaned_full_path, index=False, encoding='ISO-8859-1')
df_incremental.to_csv(cleaned_incremental_path, index=False, encoding='ISO-8859-1')
print("Cleaned dataframes saved to:", cleaned_full_path, "and", cleaned_incremental_path)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 625208 entries, 0 to 625207
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    625208 non-null  object
 1   StockCode    625208 non-null  object
 2   Description  625208 non-null  object
 3   Quantity     625208 non-null  float64
 4   InvoiceDate  625208 non-null  object
 5   UnitPrice    625208 non-null  float64
 6   CustomerID   625208 non-null  float64
 7   Country      625208 non-null  object
dtypes: float64(3), object(5)
memory usage: 38.2+ MB
Merged cleaned dataframe saved to: data/merged_cleaned_data.csv
Cleaned dataframes saved to: data/cleaned\cleaned_full.csv and data/cleaned\cleaned_incremental.csv